.keep_it_100 {
    width: 100%;
    height: 100%;
}


@media(min-width: 0px) {
    .FixedBackgroundImgCaseCreation{
        background-image: url("../caseCreation/BackgroundCaseCreation.jpg");

        /* 1K res */
        height: 100%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }



}

@media(min-width: 1920px) {
    .FixedBackgroundImgCaseCreation{
        background-image: url("../caseCreation/BackgroundCaseCreation.jpg");

        /* 1K res */
        height: 100%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

}

@media(min-width: 2000px) {
    .FixedBackgroundImgCaseCreation{
        background-image: url("../caseCreation/BackgroundCaseCreation.jpg");

        /* Full height */
        height: 100%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }


}

@media(min-width: 3000px) {
    .FixedBackgroundImgCaseCreation{
        background-image: url("../caseCreation/BackgroundCaseCreation.jpg");

        /* Full height */
        height: 100%;
        width: 100%s;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }



}