@media(min-width: 0px) {
    .FixedBackgroundImgEdit{
        background-image: url("./edit_4.jpg");

        /* 1K res */
        height: 100%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }



}

@media(min-width: 1920px) {
    .FixedBackgroundImgEdit{
        background-image: url("./edit_4.jpg");

        /* 1K res */
        height: 100%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
        position: absolute;
        z-index: -1;

    }

}

@media(min-width: 2000px) {
    .FixedBackgroundImgEdit{
        background-image: url("./edit_4.jpg");

        /* Full height */
        height: 100%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }


}

@media(min-width: 3000px) {
    .FixedBackgroundImgEdit{
        background-image: url("./edit_4.jpg");

        /* Full height */
        height: 100%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }



}