.Reg_Form
{
    width: 800px;
    height: 950px;
    border: 2px solid black;
    background: rgba(0,0,0, .8);
    z-index: 9999 !important;
    color: white;
    margin: auto;
}

.Login_Form
{
    width: 400px;
    height: 700px;
    border: 2px solid black;
    background: rgba(0,0,0, .8);
    z-index: 9999 !important;
    color: white;
    margin: auto;
}

@media(min-width: 768px) {
    .LogReg_FixedBackgroundImg{
        background-image: url("./patientLoginBackgroundImg.png");

        /* 1K res */
        height: 1080px;
        width: 1920px;

        position: fixed;
        z-index: -1 !important;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }




}

@media(min-width: 1900px) {
    .LogReg_FixedBackgroundImg{
        background-image: url("./patientLoginBackgroundImg.png");

        /* 1K res */
        height: 1080px;
        width: 1920px;

        position: fixed;
        z-index: -1 !important;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }




}


@media(min-width: 2000px) {
    .LogReg_FixedBackgroundImg{
        background-image: url("./patientLoginBackgroundImg.png");

        /* Full height */
        height: 1440px;
        width: 2560px;
        z-index: -1 !important;
        position: fixed;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }


}

@media(min-width: 3000px) {
    .LogReg_FixedBackgroundImg{
        background-image: url("./patientLoginBackgroundImg.png");

        /* Full height */
        height: 2160px;
        width: 3840px;
        z-index: -1 !important;
        position: fixed;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }


}