body {
    margin: 0;
}

.logo {
    padding: 60px;
    text-align:center;
    background: slategray;
    color: white;
    font-size: 30px;



}
@media(min-width: 0px) {
    .SizeNav
    {
        width: 1550px;
    }
    nav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        width: 1600px;
        z-index: 100;
    }

    .MoveLinksRight{
        width: 720px;
    }

    .MoveDoctorLinksRight{
        width: 720px;
    }

    .MovePatientLinksRight{
        width: 720px;
    }
}

@media(min-width: 1900px) {
    .SizeNav
    {
        width: 1920px;
    }
    nav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        width: 1920px;
        z-index: 100;
    }

    .MoveLinksRight{
        width: 1140px;
    }

    .MoveDoctorLinksRight{
        width: 990px;
    }

    .MovePatientLinksRight{
        width: 990px;
    }
}
@media(min-width: 2000px) {
    .SizeNav
    {
        width: 2560px;
    }
    nav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        width: 2560px;
        z-index: 100;
    }
    .MoveLinksRight{
        width: 1780px;
    }
    .MoveDoctorLinksRight{
        width: 1630px;
    }
    .MovePatientLinksRight{
        width: 1630px;
    }
}
@media(min-width: 2561px) {
    .SizeNav
    {
        width: 3840px;
    }
    nav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        width: 3840px;
        z-index: 100;
    }

    .MoveLinksRight{
        width: 1780px;
    }
    .MoveDoctorLinksRight{
        width: 1630px;
    }
    .MovePatientLinksRight{
        width: 1630px;
    }
}

nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover{
    background-color: #ddd;
    color: black;

}

